.title{
    color: blue;
    text-align: center;
    font-size: 4rem;
    font-family: cursive;
    width: 4;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  /*estilo a*/
    text-align: center;

}
h2{
    color: #fd0061;
}
p{
    color: #fff;
}
.title{
    display: flex;
    font-size: 8rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.icon icon-tabler icon-tabler-3d-cube-sphere{
    display: flex;
}
.cuerpo{
    background-color: #000;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;background-position: center;
    background-color: #000;

}

